<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>
        {% load static %}
        {% load bootstrap4 %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">Chat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link{% if '/swagger-ui/' in  request.path %} active{% endif %}" aria-current="page" href="/swagger-ui/">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if 'user' in request.resolver_match.view_name %} active{% endif %}" aria-current="page" href="{% url 'user_list' %}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if 'room' in request.resolver_match.view_name %} active{% endif %}" aria-current="page" href="{% url 'room_list' %}">Rooms</a>
                        </li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                    <span class="navbar-text mx-2">You are logged in as:</span>
                    <a class="navbar-text{% if request.resolver_match.view_name == 'profile' %} active{% endif %}" aria-current="page" href="{% url 'profile' %}">
                        <i class="fa-solid fa-user"></i>
                        {{ request.user.username }}
                    </a>
                    <span class="navbar-text mx-2">|</span>
                    <a class="navbar-text{% if request.resolver_match.view_name == 'account_logout' %} active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </a>
                {% else %}
                    <a class="navbar-text{% if request.resolver_match.view_name == 'account_login' %} active{% endif %}" aria-current="page" href="{% url 'account_login' %}">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </a>
                    <span class="navbar-text mx-2">|</span>
                    <a class="navbar-text{% if request.resolver_match.view_name == 'account_signup' %} active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">
                        <i class="fa-solid fa-user-plus"></i>
                        Sign Up
                    </a>
                {% endif %}
            </div>
        </nav>
        {% endblock menu %}
        <main role="main" class="container">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
